

body {
    font-family: "Monotype Corsiva";
    font-size: 32px;
    margin: 0;
    padding: 0;
}

.bgcolor {
    background-color: #434346;
    background-image: url("images/bgtest.jpg");
    width: 100%;
    height: 600px;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    top: 0;
    left: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    font-size: 24px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;  
}

li {
    float: left;
}

li a {
    display: block;
    color: #993399;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;    
}

li a:hover {
    background-color: #212134;
}

.active {
    background-color: #ddddff;
}

.title2 {
    background-color: #212134;
    color: #d3d3d3;
}

.banner {
    background-color: #d3d3d3;
    background-image: url("images/banner.jpg");
    width: 100%;
    height: 150px;
    line-height: 150px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
}

.bannertext {
    color: #ffffff;
}

.button1 {
    background-color: #212134;
    border: none;
    color: white;
    width: 26%;
    line-height: 120px;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    top: 35%;
    right: 50%;
    z-index: 1;
    transition-duration: 0.3s;
}

.button2 {
    background-color: #212134;
    border: none;
    color: white;
    width: 26%;
    line-height: 120px;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    top: 35%;
    right: 25%;
    z-index: 1;
    transition-duration: 0.3s;
}

.button3 {
    background-color: #212134;
    border: none;
    color: white;
    width: 26%;
    line-height: 120px;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    top: 48%;
    right: 50%;
    z-index: 1;
    transition-duration: 0.3s;
}

.button4 {
    background-color: #212134;
    border: none;
    color: white;
    width: 26%;
    line-height: 120px;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    top: 48%;
    right: 25%;
    z-index: 1;
    transition-duration: 0.3s;
}

.button1:hover {
    background-color: #434364;
}
.button2:hover {
    background-color: #434364;
}
.button3:hover {
    background-color: #434364;
}
.button4:hover {
    background-color: #434364;
}

.title1 {
    visibility: hidden;
}

.write {
    position: absolute;
    width: 70%;
    height: 300px;
    text-align: center;
    left: 15%;
    margin-top: 17%;
    color: #212134;
}

audio {
    position: absolute;
    width: 100%;
    z-index: 1;
    bottom: 0;
}

@media screen and (max-width:1440px) {
    /* mobile/tablet sizing */
    .title1 {
        visibility: visible;
        background-image: url("images/bgtest.jpg");
        color: #ffffff;
        width: 100%;
        line-height: 150px;
        top: 0;
        position: absolute;
        z-index: 1;
    }

    [class*="button"] {
        width: 100%;
        position: relative;
        line-height: 70px;
        padding: 0;
        top: 0;
        right: 0;
        border: 1px solid #993399;
    }

    .banner {
        visibility: hidden;
    }

    .navbar {
        visibility: hidden;
    }

    .bgcolor {
        visibility: hidden;
    }

    .write {
        width: 70%;
        height: 250px;
        margin-top: 0;
    }
}

