body {
    font-family: "Monotype Corsiva";
    font-size: 32px;
    margin: 0;
    padding: 0;
}

.about {
    background-color: #434346;
    color: #ffffff;
    position: absolute;
    width: 50%;
    height: 600px;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    line-height: 100px;
}

.bgcolor {
    background-color: #434346;
    background-image: url("images/bgtest.jpg");
    width: 100%;
    height: 600px;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    top: 0;
    left: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    font-size: 24px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;  
}

li {
    float: left;
}

li a {
    display: block;
    color: #993399;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;    
}

li a:hover {
    background-color: #212134;
}

.active {
    background-color: #ddddff;
}

.title2 {
    background-color: #212134;
    color: #d3d3d3;
}

.title1 {
    visibility: hidden;
}

audio {
    position: fixed;
    width: 100%;
    z-index: 1;
    bottom: 0;
}

[class*="button"] {
    visibility: hidden;
}

.button1 {
    background-color: #212134;
    border: none;
    color: white;
    width: 26%;
    line-height: 120px;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    top: 35%;
    right: 50%;
    z-index: 1;
    transition-duration: 0.3s;
}

.button2 {
    background-color: #212134;
    border: none;
    color: white;
    width: 26%;
    line-height: 120px;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    top: 35%;
    right: 25%;
    z-index: 1;
    transition-duration: 0.3s;
}

.button3 {
    background-color: #212134;
    border: none;
    color: white;
    width: 26%;
    line-height: 120px;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    top: 48%;
    right: 50%;
    z-index: 1;
    transition-duration: 0.3s;
}

.button4 {
    background-color: #212134;
    border: none;
    color: white;
    width: 26%;
    line-height: 120px;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    top: 48%;
    right: 25%;
    z-index: 1;
    transition-duration: 0.3s;
}

#map {
    position: relative;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 40%;
    bottom: 0;
}

.contact {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    bottom: 40px;
    width: 10%;
    height: 50px;
    line-height: 15px;
    background-color: #212134;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
}

@media screen and (max-width:1440px) {
    /* mobile/tablet sizing */
    .title1 {
        visibility: visible;
        background-image: url("images/bgtest.jpg");
        color: #ffffff;
        width: 100%;
        line-height: 150px;
        top: 0;
        position: absolute;
        z-index: 1;
    }

    .about {
        margin-top: 172px;
        margin-bottom: 50px;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        line-height: 50px;
        text-align: center;
        height: 400px;
    }

    #map {
        margin-top: 70%;
        bottom: 1px;
    }

    .contact {
        margin-bottom: 1px;
    }

    [class*="item"] {
        margin-left: auto;
        top: 162px;
    }

    [class*="button"] {
        visibility: visible;
        width: 100%;
        position: relative;
        line-height: 70px;
        padding: 0;
        top: 162px;
        right: 0;
        border: 1px solid #993399;
        bottom: 1%;
    }

    .banner {
        visibility: hidden;
    }

    .navbar {
        visibility: hidden;
    }

    .bgcolor {
        visibility: hidden;
    }

    .write {
        width: 70%;
        height: 250px;
        margin-top: 0;
    }
}